include AUTHORS
include CHANGELOG
include LICENSE
include README.rst
include setup.py
include TODO
include requirements.txt
graft bin
graft doc
graft tests
global-exclude *.pyc *.sdx *.log *.db *.swp
